@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

/*
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 1000
// <width>: Use a value from 75 to 125
// <lowercase height>: Use a value from 440 to 540

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>,
    "YTLC" <lowercase height>;
}
*/

:root {
  --base-theme-green: #6DF2CC;
  --base-theme-teal: #13F2A1;
  --base-theme-yellow: #BABF24;
  --base-theme-gray: #404040;
  --base-theme-black: #0D0D0D;
  --base-theme-white90: rgb(255 255 255 / 0.9);
  --base-theme-white70: rgb(255 255 255 / 0.7);
  --base-theme-white20: rgb(255 255 255 / 0.2);

  --text-size: 18px;
  --font-family: "Nunito Sans", sans-serif;
  --h1-size: 48px;
  --h2-size: 32px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--base-theme-black);
  color: var(--base-theme-white90);
  font-size: var(--text-size);
  user-select: none;
}
h1 {
  color: var(--base-theme-teal);
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
a {
  color: var(--base-theme-yellow);
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
p {
  line-height: 1.6;
}